{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="{% static "employee/css/footer.css" %}">
    <link rel="stylesheet" href="{% static "employee/css/landing.css" %}">
    <link rel="stylesheet" href="{% static "employee/css/commonstyle.css" %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="landing-top">
        <div class="landing-top-details">
            <div class="details-left">
                {% if employee %}
                    <div>
                        {% if employee_image and employee_image.employee_image %}
                            <img src="{{ employee_image.employee_image.url }}" alt="Profile Picture">
                        {% endif %}
                    </div>
                    <div class="user">
                        <p class="bold">{{ employee.user.first_name }} {{ employee.user.last_name }}</p>
                        <p class="grey user-position">
                            {% for emp_designation in employee.employeedesignation_set.all %}
                                {{ emp_designation.designation.designation }}
                            {% endfor %}
                        </p>
                    </div>
                {% else %}
                    <p>No employee information available.</p>
                {% endif %}
            </div>
            <div class="details-right">
                {% if request.user.is_authenticated %}
                <div class="logout">
                    <form action="{% url 'employee_logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="icon-button"> <!-- Assuming you want a button for logout -->
                            <ion-icon name="log-out" class="icon"></ion-icon>
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
            
        
        </div>
    </div>

    <div class="middle">
        <div class="desktop_view_div1">
            <div class="landing-center">

                <div class="landing-center-data">

                    <div class="data-top">
                        <div class="data-top-left">
                            <ion-icon name="calendar-outline" class="icon"></ion-icon>
                            <p>10 Sep 2024</p>
                        </div>

                        <div class="data-top-right">
                            <ion-icon name="timer-outline" class="icon"></ion-icon>
                            <p>02:45 PM</p>
                        </div>

                    </div>

                    <div class="data-middle">
                        <div class="data-box">00</div>
                        <div class="data-box">04</div>
                        <div class="data-box">20</div>
                        <div class="data-box">HRS</div>
                    </div>

                    <p class="data-middle-bottom align-center">General 09:00 AM to 06:00PM</p>

                    <form method="POST" action="{% url 'employee_index' %}" id="attendance-form">
                        {% csrf_token %}
                        <input type="hidden" name="latitude" id="latitude">
                        <input type="hidden" name="longitude" id="longitude">
                        <input type="hidden" name="action" id="action">
                        <div class="data-bottom">
                            <button class="data-top-left left-btn align-center bold" type="button" disabled>
                                <ion-icon name="bag-outline" class="icon align-left"></ion-icon>
                                <span> Work time</span>
                            </button>
                            {% if not latest_attendance or latest_attendance.logout_datetime %}
                                <button id="checkin-button" class="data-top-right right-btn align-center" type="button" onclick="getLocationAndSubmit('checkin')">
                                    <ion-icon name="arrow-forward-outline" class="align-left"></ion-icon>
                                    <span class="bold">Check In</span>
                                </button>
                            {% else %}
                                <button class="data-top-right right-btn align-center" type="button" onclick="getLocationAndSubmit('checkout')">
                                    <ion-icon name="arrow-forward-outline" class="align-left"></ion-icon>
                                    <span class="bold">Check Out</span>
                                </button>
                            {% endif %}
                        </div>
                    </form>
                    
                </div>
            </div>

            <div class="landing-center">
                <div class="work-hr">
                    <div class="work-hr-top">
                        <h4>Today working hour</h4>
                    </div>
                    <div class="work-hr-bottom">
                        <div class="checkin">
                            <ion-icon name="time-outline" class="icon"></ion-icon>
                            <p id="checkin-time">{{ checkin_time  }}</p>
                        </div>
                        <div class="lunch">
                            <ion-icon name="fast-food-outline" class="icon"></ion-icon>
                            <p>00:40:20</p>
                        </div>
                        <div class="tea">
                            <ion-icon name="beer-outline" class="icon"></ion-icon>
                            <p>09:00:00</p>
                        </div>
                        <div class="checkout">
                            <ion-icon name="timer-outline" class="icon"></ion-icon>
                            <p id="checkout-time">{{ checkout_time }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop_view_div2">

            <div class="landing-center">

                <div class="project">

                    <div class="work">
                        <div class="project-work">
                            <div class="work-name">
                                <h5>Cuentaz</h5>
                            </div>
                            <div class="work-status">
                                <ion-icon name="time-outline" class="pending"></ion-icon>
                                <p class="pending">Pending</p>
                            </div>
                        </div>
                        <p>afdf</p>
                        <div>
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                        </div>
                    </div>

                    <div class="work">
                        <div class="project-work">
                            <div class="work-name">
                                <h5>Attendance Management</h5>
                            </div>
                            <div class="work-status">
                                <ion-icon name="time-outline" class="processing"></ion-icon>
                                <p class="processing">Processing</p>
                            </div>
                        </div>
                        <p>afdf</p>
                        <div>
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                        </div>

                    </div>

                    <div class="work">
                        <div class="project-work">
                            <div class="work-name">
                                <h5>Hasdfdasjd Ssjdf</h5>
                            </div>
                            <div class="work-status">
                                <ion-icon name="time-outline" class="completed"></ion-icon>
                                <p class="completed">Completed</p>
                            </div>
                        </div>
                        <p>afdf</p>
                        <div>
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                        </div>
                    </div>

                    <div class="pagination">
                        <a href="#" class="page ">1</a>
                        <a href="#" class="page active">2</a>
                    </div>
                </div>

            </div>

        </div>

        <div class="landing-center">
            <div class="work-hr-top">
                <h4>performance Analysis </h4>
            </div>
            <div class="graph">
                <svg viewBox="0 0 100 100">
                    <!-- X-axis -->
                    <line x1="10" y1="90" x2="150" y2="90" stroke="grey" />
                    <!-- Y-axis -->
                    <line x1="10" y1="90" x2="10" y2="10" stroke="grey" />
                    <!-- Line graph 1 -->
                    <polyline points="20,80 40,60 60,70 80,30" fill="none" class="blue" stroke-width="1" />
                    <!-- Line graph 2 -->
                    <polyline points="10,80 30,60 70,70 80,30" fill="none" class="red" stroke-width="1" />
                </svg>
            </div>


        </div>

        <div class="landing-center">5</div>


    </div>

    <div class="landing-bottom">
        <div class="navigation">
            <ul>
                <li class="list active">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="list-outline"></ion-icon>
                        </span>
                        <span class="text">Tasks</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon ">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="apps-outline"></ion-icon>
                        </span>
                        <span class="text">Services</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="text">Profile</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        const list = document.querySelectorAll('.list');
        function activeLink() {
            list.forEach((item) =>
                item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item) =>
            item.addEventListener('click', activeLink));
    </script>
    <!-- Add this inside your landing.html -->
    <script>
        function getLocationAndSubmit(action) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    document.getElementById('latitude').value = latitude;
                    document.getElementById('longitude').value = longitude;
                    document.getElementById('action').value = action;
                    document.getElementById('attendance-form').submit();
                }, function(error) {
                    alert('Error fetching location: ' + error.message);
                });
            } else {
                alert('Geolocation is not supported by this browser.');
            }
        }
    </script>
    
    
    
    
</body>

</html>